<!DOCTYPE html>
<html>
<head>
	<title>Login Form </title>
	<link rel="stylesheet" type="text/css" href="style/style.css">
</head>
<body>
	<div class="center-image">
		<img src="images/center.jpg" class="center-image">
	</div>

	<div class = "abc">
		<img src="images/abc.jpg" class = abc-logo>
	</div>
	<div class = img>
		<img src="images/username.png" class = "userimg">
	</div>
	<div class= pass>
		<img src="images/password.png" class ="passimg" >
	</div>
	<form>
		<div class = "username">
			<input type="text" placeholder="ID" class = "placeholder">
		</div>
		<div class="password">
			<input type="password" placeholder="Password">
		</div>
		<div class="submit">
			<input type="Submit" name="" value="LOGIN" class="Sub">
		</div>
	</form>
</body>
</html>