<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="../static/login.css">
        <title>Login</title>
    </head>
    <body>
        <div class="main-container">
            <div class="logo">
                <img  id="logo" src="../resources/ABCLOGO.png" alt="">
            </div>
            <div class="login-form">
            <form>
                    <div class="form-elements">
                            <img class="icon" src="../resources/username.png" alt="" ><input id="username-box" class ="text-box" type="text" placeholder="ID" name="username" value="">
                    </div>
                    <div class="form-elements">
                            <img class="icon" src="../resources/password.png" alt=""><input id="password-box" class="text-box" type="password" placeholder="PASSWORD" name="username" value="">
                    </div>

                    <button class="" id="login-button" type="button" name="button">LOGIN</button>
            </form>
            </div>
        </div>
    </body>
</html>
